<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
    <head>
        <link href="https://gmpg.org/xfn/11" rel="profile">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        
        <!-- SEO titles and SEO descriptions in Hugo -->
        <!-- {{ partial "seo_schema" . }} -->
        <!-- Canonical -->
        <link rel="canonical" href="{{ .Permalink }}" />
        {{ template "_internal/google_analytics.html" . }}

        {{ if .Params.noindex }}
        <meta name="robots" content="noindex" />
        {{ else }}
        <meta name="robots" content="noarchive">
        {{ end }}

        <!--{{ hugo.Generator }}-->
        
        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if .IsHome -}}
            <title>{{ .Site.Title }}</title>
        {{- else -}}
            <title>{{ .Title }} | {{ .Site.Title }}</title>
        {{- end }}
        <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
        <meta name="google-site-verification" content="jRNZ3DIQ332WilT_buqbfmkQlhDgNrQdglpEeTgqREY" />

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print"> 
        <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css"> 
        <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css"> 
        <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
        {{ partial "head_fonts.html" . }}
    </head>
</html>
