<!-- moonmail.io embedded form styles (for better performance put this link in html head of your page) -->
<link rel="stylesheet" href="https://forms.moonmail.io/mm-form.css">

<!-- moonmail.io embedded form start -->
<form
    action="https://client.moonmail.io/7a900957-8e71-4835-ad94-97e0fdda4794/subscribe"
    method="post"
    class="mm-form"
    noValidate="">
  <input type="hidden" name="FormId" value="1efa5524-f82a-4070-a0b2-137a11ff067c" />
  <div class="mm-field">
    <label for="mm-email">Email <sup>*</sup></label>
    <input type="email" id="mm-email" name="Address" required="" />
  </div>
  <div class="mm-field">
    <label for="mm-name">Name</label
    ><input type="text" id="mm-name" name="UserAttributes[Name]" />
  </div>
  <button type="submit">Subscribe</button>
</form>
<!-- moonmail.io embedded form end -->

<!-- moonmail.io embedded form JavaScript, remove this script to use the plain form -->
<script src="https://forms.moonmail.io/mm-form.js"></script>
