<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form
        action="https://mattia-canevascini.us5.list-manage.com/subscribe/post?u=02a081cc703224c7b8f584662&amp;id=97fa7012e3"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
            <h2>Subscribe to my newsletter</h2>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_02a081cc703224c7b8f584662_97fa7012e3" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="button"></div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->