<aside class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
            <p class="lead">
            <!--{{ with .Site.Params.description }} {{.}} {{ else }}{{end}}-->
            </p>
        </div>


        <nav> 
            <ul class="sidebar-nav">
                {{ range .Site.Menus.main -}}
                <li><a href="{{.URL}}"> {{ .Name }} </a></li>
                {{- end }}
            </ul>

            {{ if .IsTranslated }}
            {{ range .Translations }}
            <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end}}
            {{ end }}
        </nav>
    </div>
    <p class="sidebar-sticky">{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
    </div>
</aside>
